@media screen and (max-width: 1150px){ 
    .menu__list {
        gap: 20px;
    }
    .nav {
        gap: 30px;
    }
    .communication__inner {
        padding-right: 0px;
    }
    .stage__inner {
        gap: 40px;
    }
    .inventory__inner {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .consultation__inner {
        position: relative;
        min-height: 287px;
    }
    .consultation__img img{
        position: absolute;
        bottom: 0;
        right: 0; 
    }
    .consultation__title {
        padding: 40px;
        max-width: 70%;
        z-index: 9;
    }
    .slider__services .swiper-button-next {
        right: 0;
        min-width: 40px;
    }
    .slider__services .swiper-button-prev {
        right: 0;
        min-width: 40px;
    }
    .online_calc_radio__container {
        grid-template-columns: 1fr;
    }
    .price_qwiz__right {
        max-width: 600px;
        width: 100%;
    }
    .price_qwiz__right img {
        height: 140px;
    }
    .phone {
       display: none;
    }
    .communication__left {
        max-width: 550px;
    }
    .board__inner-slider {
        max-width: 580px;
    }
    .swiper-6 img {
        height: 170px;
    }
    .board__inner-bottom {
        margin-top: 0px;
    }
    .board__inner-example-inner {
        overflow: hidden;
    }
    .board__inner-example-inner img {
        height: 100%;
    }
    .reviews_block .swiper-button-prev {
        min-width: 40px;
    }
    .reviews_block .swiper-button-next {
        min-width: 40px;
    }
    .board .swiper-button-prev {
        left: 5px;
    }
    .board .swiper-button-next {
        right: 5px;
    }
}
@media screen and (max-width: 1000px){ 
    .nav__main a svg {
        margin-left: 2px;
    }
    .advantage__item {
        padding: 25px 20px;
    }
    .services__content {
        padding:40px 20px;
    }
    .price_qwiz__right {
        max-width: 550px;
    }
    .price_qwiz__right img {
        height: 120px;
    }
}
