html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Wix Madefor Display", sans-serif;
}

img {
    display: block;
}

a {
    text-decoration: none;
    /* color: #fff; */
}

p {
    padding: 0;
    margin: 0;
}

button {
    padding: 0;
    border: none;
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
p,
h3,
h2,
h4 {
    padding: 0px;
    margin: 0px;
}

h2 {
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #2D2D2D;
}

.wrapper {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DADADA;
    padding: 20px 0px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 69px;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 39px;
}

.menu__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #343434;
}

.location {
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    color: #2D2D2D;
}

.contact {
    display: flex;
    align-items: center;
    gap: 19px;
}

.contact__inner {
    display: flex;
    align-items: center;
    gap: 35px;
}

.button__contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    max-width: fit-content;
    padding: 14px 16px;
    color: #fff;
    background-color: #0D84D4;
    border-radius: 10px;
}

.phone {
    color: #2D2D2D;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.main__header {
    padding-top: 10px;
}



.nav__main a {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #2D2D2D;
}

.main__menu {
    display: flex;
    justify-content: space-between;
}

.main__menu-items {
    position: relative;
}

.sub__menu {
    display: none;
    width: 275px;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
    z-index: 10;
    border-radius: 10px;
}

.sub__menu-items {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 15px;
}

.main__menu-items:hover .sub__menu {
    display: block;
}

.main__menu-items:hover .sub__menu,
.sub__menu:hover {
    display: block;
}

h2 .title_yellow {
    color: #F6B500;
}

.title {
    font-weight: 700;
    font-size: 52px;
    line-height: 58px;
    margin-bottom: 15px;
}

.under__title {
    margin-top: 15px;
    font-weight: 700;
    font-size: 52px;
    line-height: 100%;
    max-width: fit-content;
    padding: 10px 24px;
    color: #0D84D4;
    border: 4px solid #0D84D4;
    border-radius: 100px;
    margin-bottom: 30px;
}

.header__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
    gap: 10px 20px;
    margin-bottom: 40px;
}

.header__info-item {
    position: relative;
    padding-left: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.header__info-item::before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    background: #0D84D4;
    border-radius: 50%;
    left: 0;
    align-self: anchor-center;
}

.first_screen {
    background-image: url(./assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 550px;
    padding-top: 153px;
}

/* Р”РћР›Р–РќРђ Р‘Р«РўР¬ Р¤РћР РњРђ */
.advantage {
    margin-top: -36px;
    margin-bottom: 76px;
}

.advantage__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.advantage__item {
    text-align: center;
    background: #fff;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px 34px;
}

.advantage__item img,
.advantage__item h4 {
    margin: 0 auto;
    margin-bottom: 6px;
}

.advantage__item h4 {
    font-weight: 600;
    font-size: 16px;
}

.advantage__item p {
    font-weight: 400;
    font-size: 14px;
}

.services__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
    gap: 20px;
}

.services__content {
    padding: 40px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}

.services__content p,
.services__content h2 {
    margin-bottom: 20px;
}

.services__content h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-wrap-style: balance;
}

.services__content p {
    font-weight: 400;
    font-size: 14px;
}

.left {
    background-image: url(./assets/img/services1.png);
}

.right {
    background-image: url(./assets/img/services2.png);
    color: #fff;
}

.right h2 {
    color: #fff;
}

.services__button {
    max-width: fit-content;
    padding: 16px 20px;
    background: #F6B500;
    border-radius: 10px;
    color: #2D2D2D;
    display: inline-block;
}

/* Р РђРЎРЎР§РРўРђРўР¬ Р¦Р•РќРЈ */
.price {
    background: #F7F7F7;
    padding-top: 80px;
    padding-bottom: 88px;
}

.price__inner-title {
    max-width: 715px;
    margin: 0 auto;
    text-align: center;
    color: #2D2D2D;
}

.price__inner-title h2 {
    margin-bottom: 15px;
}

.price__inner-title p {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 14px;
}

.price__table {
    margin-bottom: 40px;
}

.price__table table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    color: #2D2D2D;
}

.price__table th {
    padding: 0px 0px 15px 40px;
    font-weight: 600;
    font-size: 16px;
}

.price__table td {
    padding: 20px 0px 20px 40px;
    font-weight: 400;
    font-size: 16px;
}

tbody tr:nth-child(odd) {
    outline: 1px solid #DADADA;
    border-radius: 10px;
}

.price__table-bottom {
    max-width: 715px;
    margin: 0 auto;
    text-align: center;
    color: #2D2D2D;
}

.price__table-bottom img,
.price__table-bottom h2 {
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
}

.price__table-bottom p {
    font-weight: 400;
    font-size: 14px;
}

.communication {
    background: #F7F7F7;
    padding-bottom: 80px;
}

.communication__inner {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding-right: 107px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.communication__left {
    max-width: 650px;
}

.communication__left h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 15px;
}

.communication__left p {
    font-weight: 400;
    font-size: 14px;
}

.communication__left p span {
    font-weight: 600;
}

.communication__link,
.communication__link-whatsapp,
.communication__link-telega {
    display: flex;
    align-items: center;
}

.communication__link {
    gap: 20px;
    margin-top: 20px;
}

.communication__link p {
    font-weight: 600;
    font-size: 14px;
}

.communication__link-whatsapp p {
    color: #25C900;
    border-bottom: 1px solid #25C900;
}

.communication__link-telega p {
    color: #0D84D4;
    border-bottom: 1px solid #0D84D4;
}

.communication__img {
    margin-top: -48px;
}

.stage {
    background: #F7F7F7;
    padding-bottom: 80px;
}

.stage h2 {
    text-align: center;
    margin-bottom: 40px;
}

.stage__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    gap: 60px;
}

.stage__inner-item {
    display: flex;
    align-items: start;
    gap: 20px;
}

.stage__number {
    font-weight: 700;
    font-size: 78px;
    color: #0D84D4;
    line-height: 60px;
}

.stage__inner-item p {
    font-weight: 700;
    font-size: 78px;
    color: #0D84D4;
}

.stage__text p {
    font-weight: 400;
    font-size: 14px;
}

.stage__text h4 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    padding-right: 86px;
}

.stage__text p {
    color: #2D2D2D;
    font-weight: 400;
    font-size: 14px;
    text-wrap-style: balance;
}

.stage__phone {
    margin-top: 25px;
    margin-bottom: 10px;
}

.inventory {
    padding-top: 80px;
}

.inventory h2 {
    max-width: 465px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 40px;
}

.inventory__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.inventory__inner-item img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.inventory__inner-item p {
    font-weight: 600;
    font-size: 16px;
    color: #2D2D2D;
    text-align: center;
    padding: 0 61px;
}

.consultation {
    padding-top: 80px;
}

.consultation__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DADADA;
    border-radius: 10px;
}

.consultation__title {
    padding-left: 65px;
}

.consultation__title h2 {
    text-wrap-style: balance;
    margin-bottom: 20px;
}

.consultation__title p {
    color: #8A8A8A;
    font-weight: 400;
    font-size: 14px;
}

.consultation__form {
    display: flex;
    gap: 7px;
    margin-bottom: 20px;
}

.consultation__form #name {
    color: #8A8A8A;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 16px 15px;
    border: 1px solid #DADADA;
    border-radius: 10px;
    text-align: left;
    box-sizing: border-box;
    max-width: 220px;
    width: -webkit-fill-available;
}

.consultation__form #phone {
    color: #8A8A8A;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 16px 15px;
    border: 1px solid #DADADA;
    border-radius: 10px;
    text-align: left;
    box-sizing: border-box;
    max-width: 220px;
    width: -webkit-fill-available;
}

.consultation__form button {
    color: #2D2D2D;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    background-color: #F6B500;
    padding: 16px 20px;
    box-sizing: border-box;
}

.slider__services {
    padding: 80px 0;
}

.slider__services h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 20px;
}

.slider__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.slider__tab {
    max-width: fit-content;
    padding: 16px 20px;
    border-radius: 10px;
    border: 1px solid #0D84D4;
    font-weight: 400;
    font-size: 14px;
    background: #fff;
    cursor: pointer;
    font-family: "Wix Madefor Display", sans-serif;
}

.slider__tab.active {
    background-color: #0D84D4;
    color: white;
}

.tabs_slider__img {
    width: 100%;
    object-fit: cover;
    display: block;
    max-height: 580px;
    border-radius: 10px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.1);
}

.slider__services .wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.slider__services .swiper-slide {
    border-radius: 10px;
    overflow: hidden;
}

.swiper {
    position: relative;
    width: 100%;
    max-width: 980px;
    /* РџРѕРґСЃС‚СЂРѕР№ РїРѕРґ СЃРІРѕРё СЂР°Р·РјРµСЂС‹ */
    margin: 0 auto;
}

.slider__services .swiper-button-prev,
.slider__services .swiper-button-next {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #DADADA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-self: center;
}


.swiper-wrapper-container {
    display: flex;
    gap: 20px;
}


.slider__services .swiper-pagination {
    position: absolute;
    bottom: -30px;
    /* РћРїСѓСЃРєР°РµРј РїР°РіРёРЅР°С†РёСЋ */
    text-align: center;
    width: 100%;
}

.slider__services .swiper-button-prev {
    left: 0;
}

.slider__services .swiper-button-next {
    right: 0;
}

.slider__services .swiper-button-prev svg {
    height: 12px;
    width: 14px;
}

.slider__services .swiper-button-next svg {
    height: 12px;
    width: 14px;
}


.slider__services .swiper-button-prev:after {
    content: "none";
}

.slider__services .swiper-button-next:after {
    content: "none";
}

.slider__services .swiper-pagination {
    bottom: 0 !important;
}

.swiper-1 {
    padding-bottom: 40px !important;
}

.swiper-2 {
    padding-bottom: 40px !important;
}


.board {
    background: #F7F7F7;
    padding-top: 80px;
}

.board h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 40px;
}

.board__inner-top {
    display: flex;
    gap: 20px;
    margin-bottom: 35px;
}

.board__inner-title h4 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 25px;
}

.board__inner-title h4 span {
    color: #0D84D4;
}

.board__inner-title p {
    margin-bottom: 17px;
    font-weight: 600;
    font-size: 16px;
}







.board__menu-item {









    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;

}

.board__inner-slider {

    display: flex;
    gap: 16px;
}

.board__inner-bottom p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
}

.board__inner-example {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 20px;

}

.board__inner-example-inner {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    align-items: center;
}




.board__inner-example-text {
    padding-left: 20px;
}

.board__inner-example-text h4 {
    font-weight: 600;
    font-size: 16px;
}

.board__inner-example-text p {
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
}






















































/* FOOTER */
.cellar {
    background: #303030;
    padding-top: 33px;
    padding-bottom: 47px;
}

.cellar__inner {
    display: flex;
    gap: 70px;
}

.cellar__info {
    max-width: 170px;
}

.cellar__info h6,
.cellar__info p {
    color: #8A8A8A;
    font-weight: 400;
    font-size: 10px;
}



.menu__cellar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 40px;
}

.menu__cellar-inner h4 {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
}

.menu__footer_link {
    font-weight: 400;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 15px;
}

.menu__contact {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
    display: inline-block;
}

.phone__footer {
    color: #0D84D4;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 15px;
}

.cellar__contact {
    justify-items: right;
}

.cellar__contact p {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    margin-bottom: 20px;
}

.mail {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px;
}

.location__footer {
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.area {
    justify-items: right;
}

.area p {
    margin-bottom: 25px;
}

.location__footer p {
    margin: 0;
}

.privacy a {
    display: inline-block;
    justify-items: right;
    font-weight: 400;
    font-size: 12px;
    color: #8A8A8A;
    margin-bottom: 15px;
    border-bottom: 1px solid #8A8A8A;
}

.contact_block {
    padding: 150px 0 80px 0;
}

.contact_block .container {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact_block h1 {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 58px;
    color: #2D2D2D;
    padding-bottom: 15px;
}

.contact_block .subtitle {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #2D2D2D;
    padding-bottom: 25px;
}

.phone_link {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #0D84D4;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.contact_block p {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: block;
    color: #2D2D2D;
}

.mail_link {
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2D2D2D;
    display: block;
}

.soc_container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.soc_container a {
    display: flex;
    gap: 12px;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
}

.soc_container a:first-child {
    color: #25C900;
}

.soc_container a:last-child {
    color: #0D84D4;
}

.soc_container img {
    width: 25px;
    height: auto;
}

.contact_block .location {
    display: flex;
    gap: 12px;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2D2D2D;
    margin-bottom: 10px;
    align-items: center;
    margin-top: 28px;
}

.location img {
    width: 12px;
    height: auto;
}

.location_info {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2D2D2D;
    margin-top: 10px;
}

.contact_block__map {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 25px 50px 0px #0000001A;
    height: 100%;
}

iframe {
    display: block;
}

.contact_block__form {
    margin-top: 30px;
    display: flex;
    gap: 5px;
}

.contact_block__form #name {
    color: #8A8A8A;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 12px 15px;
    border: 1px solid #DADADA;
    border-radius: 10px;
    text-align: left;
    box-sizing: border-box;
    max-width: 208px;
    width: -webkit-fill-available;
}

.contact_block__form #phone {
    color: #8A8A8A;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 12px 15px;
    border: 1px solid #DADADA;
    border-radius: 10px;
    text-align: left;
    box-sizing: border-box;
    max-width: 208px;
    width: -webkit-fill-available;
}

.contact_block__form button {
    color: #2D2D2D;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    background-color: #F6B500;
    padding: 10px 20px;
    box-sizing: border-box;
}

.price_qwiz {
    padding: 80px 0;
}

.price_qwiz h2 {
    text-align: center;
    max-width: 350px;
    display: block;
    margin: 0 auto;
}

.price_qwiz__container {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.price_qwiz__right {
    max-width: 780px;
    width: 100%;
}

.custom-radio-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.price_qwiz__right img {
    width: 100%;
    object-fit: cover;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 25px 50px 0px #0000001A;
}

.price_qwiz__selectimg {
    text-align: center;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #2D2D2D;
}

.price_qwiz_number {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    color: #2D2D2D;
    margin-bottom: 15px;
}

.price_qwiz_number span {
    color: #0D84D4;
}

.price_qwiz__title {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #2D2D2D;
    margin-bottom: 20px;
}

.price_qwiz__navigate {
    display: flex;
    gap: 10px;
}

.price_qwiz__button {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 16px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#price_qwiz_prev {
    color: #2D2D2D;
    border: 1px solid #0D84D4;
}

#price_qwiz_next {
    background-color: #0D84D4;
    color: white;
}

.real-radio {
    /* РџСЂСЏС‡РµРј РЅР°СЃС‚РѕСЏС‰РёР№ radio, РЅРѕ РѕСЃС‚Р°РІР»СЏРµРј РґРѕСЃС‚СѓРїРЅС‹Рј РґР»СЏ С„РѕСЂРјС‹ */
    position: absolute;
    opacity: 0;
}

.custom-radio {
    width: 28px;
    /* Р‘РѕР»СЊС€РѕР№ РєСЂСѓРі */
    height: 28px;
    border-radius: 50%;
    background: white;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    /* РЈС‡РёС‚С‹РІР°РµРј РіСЂР°РЅРёС†Сѓ РІ СЂР°Р·РјРµСЂР°С… */
}

.real-radio:checked+.custom-radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    /* Р‘РѕР»СЊС€Р°СЏ СЃРёРЅСЏСЏ С‚РѕС‡РєР° */
    height: 16px;
    background: #2196F3;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    /* РРґРµР°Р»СЊРЅРѕРµ С†РµРЅС‚СЂРёСЂРѕРІР°РЅРёРµ */
}


/* Р­С„С„РµРєС‚ РїСЂРё РЅР°РІРµРґРµРЅРёРё */
.custom-radio-label:hover .custom-radio {
    border-color: #999;
}

.input_selected {
    position: absolute;
    bottom: -16px;
    left: 0;
    right: 0;
}

.price_qwiz_image {
    position: relative;
}


.range-slider {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}

.slider-container {
    position: relative;
    flex-grow: 1;
    height: 40px;
    width: 100%;
}

.slider-line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background: #ddd;
    transform: translateY(-50%);
}

.slider-r {
    position: relative;
    width: 100%;
    height: 40px;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    z-index: 2;
    margin: 0;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2196F3;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.slider-thumb {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    background: #2196F3;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 2;
}

.slider-input {
    width: 80px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
}

.unit {
    font-size: 16px;
    color: #666;
}

.checkbox-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.custom-checkbox {
    background-color: white;
    box-shadow: 0px 25px 50px 0px #0000001A;
    border-radius: 10px;
    padding: 12px 24px;
    display: flex;
    gap: 10px;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    width: 25px;
    height: 25px;
    background-color: #ECECEC;
    border-radius: 4px;
    position: relative;
    transition: all 0.3s ease;
    display: flex;
}

/* РЎРёРЅРёР№ РєРІР°РґСЂР°С‚ РїСЂРё РІС‹Р±РѕСЂРµ */
.custom-checkbox input:checked~.checkmark::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #0D84D4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

#price_qwiz5 #price_qwiz_next {
    background: #999999;
}

#price_qwiz5 .price_qwiz__title {
    max-width: 270px;
}

.spot_item {
    background-color: white;
    padding: 10px 16px;
    border-radius: 10px;
    color: #2D2D2D;
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 12px;
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
}

.spot_item:before {
    content: " ";
    width: 10px;
    height: 10px;
    background: #0D84D4;
    display: flex;
    border-radius: 50%;
}

#spot_item1 {
    right: 22%;
    top: 83px;
}

#spot_item2 {
    top: 48%;
    left: 21%;
}

#spot_item3 {
    bottom: 28%;
    left: 17%;
}

#spot_item4 {
    top: 61%;
    right: 26%;
}

#spot_item5 {
    bottom: 4%;
    left: 13%;
}

#spot_item1-2 {
    top: 11%;
    left: 50%;
}

#spot_item2-2 {
    top: 42%;
    left: 25%;
}

#spot_item3-2 {
    bottom: 18%;
    left: 18%;
}

#spot_item4-2 {
    bottom: 20%;
    left: 47%;
}

.online_calc__container {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.online_calc__item {
    border-radius: 10px;
    border: 1px solid #DADADA;
    background: white;
    padding: 30px 40px;
}

.online_calc__title {
    font-size: 20px;
    padding-bottom: 20px;
    font-family: "Wix Madefor Display", sans-serif;
    color: #2D2D2D;
    font-weight: 700;
}

.online_calc__item:last-child {
    grid-column: span 2;
}

.online_calc_radio {
    display: flex;
    gap: 24px;
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 16px;
    color: #2D2D2D;
    font-weight: 600;
    align-items: center;
    position: relative;
}

.online_calc_radio img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 25px 50px 0px #0000001A;
}

.online_calc_input {
    position: absolute;
    left: 45px;
    align-content: center;
}

.online_calc_radio__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    row-gap: 15px;
    align-content: center;
}

.online-radio:checked+.custom-radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background: #2196F3;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.online-radio {
    position: absolute;
    opacity: 0;
}

.online_calc_select input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.online_calc_select{
    display: flex;
    gap:10px;
    align-items: center;
    font-size: 16px;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 600;
    color:#2D2D2D;
}
.checkmark::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

.online_calc_select input:checked~.checkmark::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #0D84D4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

.slider-thumb2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    background: #2196F3;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 2;
}
.slider_range_circle1{
    content: " ";
    background: #DADADA;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    left: 0;
    position: absolute;
    top: 16px;
}
.slider_range_circle2{
    content: " ";
    background: #DADADA;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    right: 0;
    position: absolute;
    top: 16px;
}

.online_calc{
    padding-bottom: 80px;
}
.online_calc__form{
    display: flex;
    flex-wrap:wrap;
    gap:5px;
    align-items: center;
}
.online_calc__submit{
    background: #F6B500;
    border-radius: 10px;
    padding: 16px 20px;
    font-size: 14px;
    font-family: "Wix Madefor Display", sans-serif;
    color:#2D2D2D;
    font-weight: 400;
}
.online_calc__form input{
    background: white;
    border-radius: 10px;
    padding: 16px 15px;
    border:1px solid #DADADA;
    color:#8A8A8A;
    font-size: 14px;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
}
.online_calc__form p{
    margin-left: 25px;
    color:#8A8A8A;
    font-size: 14px;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
}
.online_calc__total{
    color:#2D2D2D;
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}
.online_calc__total span{
    color:#0D84D4;
    font-size: 20px;
    font-weight: 700;
}
.online_calc h2{
    text-align: center;
}

.reviews_block{
    padding: 80px 0;
    background-color: #F7F7F7;
}
.reviews_block h2{
    text-align: center;
}
.reviews_block__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    padding-top: 40px;
}
.reviews_block__item{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 25px 50px 0px #0000001A;
    height: 400px;
}
.reviews_block__item img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.reviews_block_play{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    align-content: center;
    text-align: center;
    cursor: pointer;
}
.reviews_block__container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    padding-top: 20px;
    position: relative;
}
.reviews_block__item2{
    background: white;
    border-radius: 10px;
}
.reviews_block__head{
    padding: 20px 20px 15px 20px;
    border-bottom: 1px solid #DADADA;
    display: flex;
    justify-content: space-between;
}

.reviews_block_name{
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color:#2D2D2D;
}
.reviews_block_number{
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color:#0D84D4;
    display: flex;
    gap: 7px;
    align-items: center;
}
.reviews_block_number img:first-child {
    padding-left: 1px;
}
.reviews_block_number img {
    height: 16px;
    width: auto;
}
.reviews_block__item2 p{
    padding: 15px 40px 20px 20px;
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.reviews_block .wrapper {
    max-width: 1100px;
    margin: 0 auto;
}
.reviews_block__container3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    padding-top: 40px;
}

.reviews_block_service{
    display: flex;
    gap: 15px;
    align-items: center;
}
#service_left{
    justify-content: right;
    padding-right: 20px;
}
.reviews_block_service img{
    height: 30px;
    width: auto;
}
.reviews_block_quantity{
   display: flex;
   align-items: center;
   gap:4px;
   color:#232323;
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.reviews_block_quantity img{
    height: 12px;
    width: 12px;
}
.reviews_block_quantity span{
    padding-left: 4px;
    border-left: 2px solid #DADADA;
    color:#8A8A8A;
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 14px;
    font-weight: 400;
 }